extends layout

block content
    .main.ui.container
        h2.ui.center.aligned.icon.header
            i.circular.icon
                img(src="images/logo.png" width="78")
            | #{title}
        if !build_started
            div#cols.ui.placeholder.segment
                .ui.two.column.stackable.center.aligned.grid
                    .ui.vertical.divider Or
                    .middle.aligned.row
                        .column
                            .ui.icon.header
                                i.clone.icon
                                | Start build process
                            .inline
                                form#build.ui.form(method="post", action="/")
                                    input#buildType(type="hidden", name="buildType", value="Build")
                                    button.ui.primary.button() Build
                        .column
                            .ui.icon.header
                                i.clone.outline.icon
                                | Start sync process
                            .inline
                                form#sync.ui.form(method="post", action="/")
                                    input#syncType(type="hidden", name="buildType", value="Sync")
                                    button.ui.positive.button() Sync
            .shell-wrap
                p.shell-top-bar Process Logs
                ul.shell-body
                    li.active #{title}