body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ui.container {
    width: 800px;
}

.ui.placeholder.segment .column .field, .ui.placeholder.segment .column textarea {
    max-width: none;
}
